<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.amber.mapper.SubjectMapper">
    <resultMap id="BaseResultMap" type="cn.com.amber.entity.Subject">
        <constructor>
            <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="subject_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="subject_no" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="level" javaType="java.lang.Integer" jdbcType="TINYINT"/>
            <arg column="parent_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="direction" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="element" javaType="java.lang.Integer" jdbcType="TINYINT"/>
            <arg column="creator" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="gmt_created" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="modifier" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="is_deleted" javaType="java.lang.String" jdbcType="CHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
        id, subject_name, subject_no,level,parent_id,direction,element,creator, gmt_created, modifier,
        gmt_modified,is_deleted
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from account
        where id = #{id,jdbcType=BIGINT} AND is_deleted='N'
    </select>

    <select id="selectBySubjectNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_subject
        where subject_no = #{subjectNo,jdbcType=VARCHAR} AND is_deleted='N'
    </select>

    <select id="selectBySubjectNoList" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_subject
        where subject_no in
        <foreach collection="list" item="subjectNo" index="index" open="(" close=")" separator=",">
            #{subjectNo}
        </foreach>
        AND is_deleted='N'
    </select>

    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_subject where is_deleted='N'
    </select>

    <insert id="insert" parameterType="cn.com.amber.entity.Account">
        insert into t_subject (subject_name, subject_no,level,parent_id,direction,element,creator, gmt_created,
        modifier, gmt_modified)
        values (#{subjectName,jdbcType=VARCHAR},
        #{subjectNo,jdbcType=VARCHAR},#{level,jdbcType=TINYINT},#{parentId,jdbcType=BIGINT}
        ,#{direction,jdbcType=CHAR},#{element,jdbcType=TINYINT},#{creator,jdbcType=VARCHAR},
        #{gmtCreated,jdbcType=TIMESTAMP},
        #{modifier,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP})
    </insert>

    <select id="selectByElement" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_subject
        where element = #{element,jdbcType=TINYINT} AND is_deleted='N'
    </select>

    <select id="selectBySubjectNoAndElement" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_subject
        where subject_no = #{subjectNo,jdbcType=VARCHAR} AND element = #{element,jdbcType=TINYINT}  AND is_deleted='N'
    </select>

    <select id="selectByParentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_subject
        where parent_id = #{parentId,jdbcType=BIGINT} AND is_deleted='N'
    </select>
</mapper>